@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Quản lý quyền";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý quyền</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách quyền</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row mb-2">
                                <div class="col-sm-12 col-md-6">
                                    <div class="float-sm-left">

                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="float-sm-right">
                                        <a type="button" href="/Admin/Role/Add" class="btn btn-primary">Thêm mới</a>
                                        <a type="button" href="#" class="btn btn-danger" id="btnDeleteAll">Xoá tin tức đã chọn</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">

                                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên quyền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Any())
                                            {

                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td width="500" class="dtr-control sorting_1">@item.Id</td>
                                                        <td>@item.Name</td>
                                                        <td>
                                                            <a href="/Admin/News/Edit/@item.Id" class="btn btn-primary">Sửa</a>
                                                            <a href="#" data-id="@item.Id" class="btn btn-danger" id="btnDelete">Xoá</a>
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>Chưa có dữ liệu</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên quyền</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
