@model IEnumerable<PCShop.Models.EF.News>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="col-lg-4 blog_item_col">
            <div class="blog_item">
                <div class="blog_background" style="background-image:url(@item.image)"></div>
                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                    <h4 class="blog_title">@item.title</h4>
                    <span class="blog_meta">bời @item.createdBy | @item.createdDate.ToString("dd/MM/yyyy")</span>
                    <a class="blog_more" href="/News/View/@item.alias">Đọc thêm</a>
                </div>
            </div>
        </div>
    }
}